

body { margin: 0;
       padding:0;}

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-image:url(gradient-connection-background_23-2150441887.jpg) ;
    padding:0;
    text-align: center;
    word-spacing: 120px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;

}
nav a {
    color:white;
    text-decoration: none;
    margin:0;
    font-size: 24px; 
}
nav a:hover {
    color: #ddd;}


@media (max-width:1024) 
    {   .container{  
                width: 100vw;
                min-height: auto;
                padding-bottom: 0;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: 
                "top"}}
    
.top_part { grid-area: top;
            margin-bottom: 30px;
            background-image:
            linear-gradient(rgba(255, 255, 255, 0.093), rgba(255, 255, 255, 0.218)), 
            url("gradient-connection-background_23-2150441887.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display:grid;
            grid-template-columns: 1fr 2fr 2fr 3fr;
            grid-template-rows:1fr auto auto 1fr;
            row-gap: 0;
            grid-template-areas: 
            "thin1 thin2 thin3 thin4"
            "crop1 crop2 crop3 crop4"
            "volt1 volt2 volt3 volt4"
            "amp1 amp2 amp3 amp4";}


.greet{font-family: Arial; grid-area: crop3; height: 100px; margin-bottom: 0;}

.greetings{font-size: 28;
        display: inline-block;padding: 8px; border:2px; border-radius: 15px;
        background-color:#E0F0FF;color: #000;
        word-wrap: break-word;}

.name{font-size:25;}

.intro_about{grid-area:volt3; font-size: 18px; margin-top:15px;}

.image{grid-column: 2/3;
    grid-row: 2/5; width: 400px; height: 400px; object-fit: cover; display: block; margin-left: 0;
    align-self: flex-start; object-position: top; padding-top:0;}

#list1 {
    color:white;
    text-decoration: none;
    margin:0;
    
}
#list1:hover {
    color: #ddd;}

.my_sites{display:flex; gap:30px;}

.conts{grid-area: volt3;margin-top: 50px; margin-left: 0;}

#list1{ display: inline-block;padding: 6px; border:2px; border-radius: 15px;
        background-color:#1565af;color: white;
         word-wrap: break-word;}
         

/*.down_part {
    grid-area: below;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    bank1 bank2 bank3;}
.image_downpart{ grid-column: 2/3; width: 100%; height: 500px; object-fit: contain; display: block;
                  padding: 0; align-self: flex-start;}

words_downpart{ word-spacing: 30px;color: black; grid-column: 3/4; grid-row: 1;}
#list2{display: inline-block;padding: 10px; border:3px; border-radius:none;
        background-color:#1565af;color: #000;
         word-wrap: break-word; margin: 5px;}
*/
#about {
    width: 100vw;
    display: grid;
    grid-template-columns: 500px 2fr;
    grid-template-rows : auto auto;
    background-color: whitesmoke;
}
#about_title{
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: #000;
    grid-column:1/3;
    grid-row: 1/2
}
#about_image {
    grid-column:1/2;
    grid-row: 2/3;
    
}
#img-about {
    border-radius: 5px;
    border: #000;
    border-width:8px ;
    width: 100%; height: 500px; object-fit: cover; object-position: top; display: block;
    align-self: center;
    margin-right: 8px;
   
}

#about_text {
    padding: 15px;
    grid-column:2/3;
    grid-row: 2/3
}
#education {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    color: black;
    z-index: 1;
    overflow: hidden;
}
#education::before {
    content: ""; position: absolute;top: 0; left: 0;right: 0;bottom: 0;
    background-image: url(inline-zambia-eng.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    opacity:0.8;
}
#ed-para{
    padding-top: 10px;
    grid-column:1/2;
    grid-row: 1/2;
}
#ed-points{
    padding-top: 5px;
    grid-column:2/3;
    grid-row: 1/2;
}
#section-separation{
    width:100vw;
    height:30px;
    background:blue;
    padding: O;
}
#experience{
    background:linear-gradient(to right,#1e90ff, #00bfff);
    background: linear-gradient(to bottom, #f0f0f0, #d9d9d9);
    padding-left: 10px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100vw;
}

#skills{
    background-color: gray;
    padding-left: 10px;
    width:100vw;
}
#buttons-section{
    display: grid;
    padding: 15px;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "one two"
    "three four"
    "five six";
    background-color:gray;
}
#portfolio{
    background-color: gray;
    padding: 0;
    width: 100vw;
}
#projects{height: 150px;
    grid-area: one;
}
#articles{
    height: 150px;
   grid-area:three;
}
#labs{height: 150px;
    grid-area: two;}
#bookreviews{
    height:150px; grid-area: four;}
#certifications{
    grid-area: five;

}
#services {
    grid-area: six;

}
button{background-color: #02417b;
    font-size: 20px;
        }

#footer{background: beige;
       align-items: center;
       width: 100vw;}
#footer-div{
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    gap: 20px;
    padding-left: 20px;
    text-align: center;
    grid-template-areas: 
    "contacts  follow";
}
#contacts{grid-area: contacts;}
#follow{grid-area: follow;}

@media (max-width:600px){
    body{width: 100vw;
         overflow-x: hidden;}
    .container{width: 100vw;
               height: 600px;
                padding-bottom: 0;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;            }
    .top_part{
        grid-column: 1/-1;
        grid-row: 1/-1;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.093), rgba(255, 255, 255, 0.218)), 
            url("gradient-connection-background_23-2150441887.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr auto auto;}
    .image{
        grid-column:1/-1;
        grid-row: 1/-1;
        width: 100vw; height:600px; object-fit: cover; display: block; margin-left: 0;
        align-self: flex-start; object-position: top; padding-top:0; z-index:1;}
    .greet{
        grid-column: 1/-1;
        grid-row: 2/3;
        align-self: end;
        justify-self: left;
        margin-left:10px ;
        z-index: 2;
    }
    .conts{grid-column:1/-1;
        grid-row: -2/-1;
        align-self: end;
        justify-self: center;
        margin-left:10px ;
        z-index: 2;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .my_sites{display:flex; gap:20px;}
    .intro_about{ grid-column:1/-1;
        grid-row: 3/4;
        align-self: end;
        justify-self: center;
        margin-left:10px ;
        z-index: 2;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        white-space: normal;
        word-break:normal;
        overflow-wrap: normal;

    }
    nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-image:url(gradient-connection-background_23-2150441887.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 10px;
    width: 100vw;
    height: 45px;}
    nav a{height: 5px; font-size: 16px; vertical-align: top; margin: 0;}
   #about {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: whitesmoke;
}
#about_title{
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom:5px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: #000;
    grid-column:1/-1;
    grid-row: 1/2
}
#about_image {
    grid-column:1/-1;
    grid-row: 2/3;
    
}
#img-about {
    border-radius: 5px;
    border: #000;
    border-width:8px ;
    width: 100vw; height: 300px; object-fit: cover; object-position: top; display: block;
    align-self: center;
    margin: 0;
   
}

#about_text {
    padding: 15px;
    grid-column:1/-1;
    grid-row: 3/4
} 
#education {
    width: 100vw;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: relative;
    color: black;
    z-index: 1;
    overflow: hidden;
}
#education::before {
    content: ""; position: absolute;top: 0; left: 0;right: 0;bottom: 0;
    background-image: url(inline-zambia-eng.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    opacity:0.8;
}
#ed-para{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 12px;
    padding-top: 10px;
    grid-column:1/-1;
    grid-row: 1/2;
    height: auto;
}
#ed-points{
    margin-left: 12px;
    margin-top: 0;
    padding-top:0;
    grid-column:1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}
footer{background: beige;
       align-items: center;}
#footer-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-left: 20px;
    text-align: center;
    grid-template-areas: 
    "contacts  follow";
}
#contacts{grid-area: contacts;}
#follow{grid-area: follow;}
}
